<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
  </head>
  <body>
    <h1>Esto es <%= title %></h1>
    <p>Bienvenido a <%= title %>, el portal colaborativo de preguntas y respuestas</p>
  </body>
</html>
