<%
  if (typeof(errors) === "undefined") {
    errors = [];
  }
%>
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"><title> Preguntas </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel='stylesheet' 
        type='text/css'
        media='only screen and (min-width: 530px) and (min-device-width: 481px)'
        href='/stylesheets/wide.css' />
  <link rel='stylesheet'
        type='text/css'
        media='only screen and (max-width: 480px)' 
        href='/stylesheets/smartphone.css' />

  <link rel="icon" href="/favicon.ico" type="image/x-icon" />
</head> 

<body>
<div id="page-wrap">
  <header class="main" id="h1">
    <%if(!session.user){%>
      <div class="right"><a href="/login">Login</a></div>
    <%}else{%>
      <div class="right"> <%=session.user.username%> <form method="post" action="/login?_method=delete"><button id="logoutbutton" type="submit" value="Logout" class="invisible"></button><a href="#" onclick="document.getElementById('logoutbutton').click()">Logout</a></form></div>
    <%}%>
    <h1>Quiz</h1>
  </header>

  <nav class="main" id="n1" role="navigation">
    <ul>
    <li><a href="/">Inicio</a></li>
    <li><a href="/quizes">Preguntas</a></li>
    <li><a href="/statistics">Estadísticas</a></li>
    <li><a href="/author">Autor</a></li>
    </ul>
  </nav>

  <section class="main" id="s1">
    <% if (errors.length) { %>
      <p id='ErrorMsgs'>
        Corrija los siguientes errores:<br/>
        <ul>
        <% for (var i in errors) { %>
           <li><%= errors[i].message %></li>
        <% } %>
        </ul>
      </p>
    <% } %>

    <div>
      <%- body %>
    </div>
  </section>

  <footer class="main" id="f1">
    2015 @danielearning<br/>
    <a href="https://github.com/danielearning/quizz">GitHub</a>
  </footer>
</div>
</body> 
</html>