<!DOCTYPE html>
<html>
  <head>
    <title>Quiz</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
  </head>
  <body>

    <form method="get" action="/quizes/<%= quiz.id %>/answer">        
      Pregunta:
      <p><%= quiz.pregunta %> </p>
      <input type="text" name="respuesta" placeholder="Respuesta"/>
      <input type="submit" value="Enviar">
    </form>

    
  </body>
</html>
