<!DOCTYPE html>
    <form method="get" action="/quizes/<%= quiz.id %>/answer">        
      Pregunta:
      <p><%= quiz.pregunta %> </p>
      <input type="text" name="respuesta" placeholder="Respuesta"/>
      <input type="submit" value="Enviar">
    </form>

    <p>Comentarios: 
      <ul>
      <% for (i in quiz.Comments) { %>
      <li><%= quiz.Comments[i].comment %></li>
      <% } %>
      <li><a href="/quizes/<%= quiz.id %>/comments/new"><button>Añadir</button></li>
      </ul>
    </p>

    
